# Python 暫存檔案
__pycache__/
*.pyc

# 測試產生的 log
login_test_log.txt
logs/
dist/

# VSCode 設定
.vscode/

# Mac 系統垃圾
.DS_Store

# 虛擬環境（可選）
venv/

# 私人設定
config.json

# 排除本地 build 出來的 .exe（例如 pyinstaller 或 auto-py-to-exe）
*.exe
